.ActionDropdown {
  .Toggle {
    &::after {
      display: none;
    }
  }
}

.ActionItem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.fade {
    opacity: 0.5;
  }
}
