.label-editor {
  position: relative;
  display: inline-block;

  font-size: 1.25rem;
  font-weight: 500;

  color: transparent;
  user-select: none;

  span,
  textarea {
    font-weight: inherit;
    font-size: inherit;
  }

  span {
    white-space: pre-wrap;
  }

  textarea {
    resize: none;
    overflow: hidden;

    height: 100%;
    min-height: unset;
  }

  .form-control,
  .form-control-plaintext {
    position: absolute;
    top: 0;
    padding: 0;

    transition: border-color 100ms;

    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    box-shadow: unset;
    outline: none;

    &:focus {
      border-bottom: 1px solid var(--textarea-focus-underline);
    }

    &::placeholder {
      transition: opacity 100ms;
    }
  }
}
