.label-editor {
  position: relative;

  font-weight: 500;
  font-size: 1.25rem;

  color: transparent;
  user-select: none;

  span {
    white-space: pre-wrap;
  }

  textarea {
    resize: none;
    overflow: hidden;

    // TODO: this might be temporary. Just using this to size it to the matching span for now
    height: 100%;
    min-height: unset;
  }

  .form-control,
  .form-control-plaintext {
    position: absolute;
    top: 0;
    padding: 0;

    transition: border-color 100ms;

    font-weight: 500;
    font-size: 1.25rem;

    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    box-shadow: unset;
    outline: none;

    &:focus {
      border-bottom: 1px solid var(--textarea-focus-underline);
    }

    &::placeholder {
      transition: opacity 100ms;
    }
  }
}
