.list-header {
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 0.5rem;

  display: flex;
  align-items: center;

  overflow: hidden;

  cursor: pointer;

  &.selected {
    border: none;
    background: none;

    .label.label-editor {
      textarea,
      span {
        font-size: 2rem;
      }
    }
  }

  .header-left,
  .header-right {
    display: flex;
    align-items: center;

    height: 2rem;
  }

  :empty + .header-title {
    margin-left: 0.5rem;
  }

  .header-title {
    display: flex;
    flex: 1 1 auto;

    .description {
      opacity: 0.5;
      font-size: 1rem;
      font-weight: 400;

      textarea {
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }
}
