.list-node {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;

  &.root {
    margin: 1em 0;
  }

  &.parent {
    border-color: var(--node-border-color);
  }

  &.pending {
    // TODO: keeps width the same as check box and centers "+" svg
    .node-left {
      width: 1em;
      justify-content: center;
    }
  }

  & + .list-node {
    margin-top: 0.5rem;
  }

  .node-header,
  .node-body {
    padding: 0.5rem;
  }

  .node-header {
    display: flex;
    align-items: start;

    overflow: hidden;

    .node-title {
      display: flex;
      flex: 1 1 auto;
      align-items: center;

      // TODO: is this needed?
      .heading {
        display: flex;
        flex: 1;
        align-items: center;

        padding: 0 0.5em;
      }
    }

    .node-left,
    .node-right {
      height: 2rem;
      display: flex;
      align-items: center;
    }
  }
}
