nav.navbar {
  .nav-link {
    color: var(--bs-light);
  }

  .group {
    display: flex;
  }

  .spinner-border {
    border-color: var(--bs-light);
    border-right-color: transparent;
  }

  .settings {
    transition: opacity 200ms;

    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  .dropdown-toggle {
    display: flex;
    align-items: center;

    img {
      border-radius: 50%;
      height: 1.5rem;
    }
  }
}
