html,
body,
#app {
  height: 100%;
}



#app {
  display: flex;
  flex-direction: column;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  flex: 1;

  overflow: hidden;
}

.header-view,
.list-view {
  grid-column: 1;
  grid-row: 1;

  overflow: hidden;
  transition: transform 300ms ease-in-out;

  --item-gap: 1em;

  // TODO: this makes a gap between the navbar & selected-header
  //  which allows you to see scrolling lists
  // padding: var(--item-gap) 0;

  &.show {
    overflow: auto;
    transform: translateX(0);
  }
}

.header-view {
  transform: translateX(-100vw);
}

.list-view {
  transform: translateX(100vw);
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: var(--item-gap);
}