html,
body,
#app {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  flex: 1;

  overflow: hidden;
}

.header-view,
.list-view {
  grid-column: 1;
  grid-row: 1;

  overflow: hidden;
  transition: transform 300ms ease-in-out;
  
  padding-bottom: 6rem;

  --item-gap: 1em;

  .list-container {
    padding-top: var(--item-gap);
  }

  &.show {
    overflow-y: auto;
    transform: translateX(0);
  }
}

.header-view {
  transform: translateX(-100vw);
}

.list-view {
  transform: translateX(100vw);
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: var(--item-gap);
}
