.selected-header {
  display: flex;
  justify-content: space-between;

  position: sticky;
  top: 0;
  z-index: 1;

  // provides visual buffer between feature & list
  --buffer: 0.5em;
  
  padding: 0 0 var(--buffer);
  margin: 0 0 -var(--buffer);

  background: var(--bs-body-bg);

  .content {
    .label-editor {
      &.label {
        font-size: 2rem;
      }

      &.description {
        font-size: 1rem;
      }
    }
  }

  .actions {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}
