.Breadcrumbs {
  position: sticky;
  top: 0;
  display: flex;
  align-items: baseline;

  overflow-x: auto;

  .Crumb {
    white-space: nowrap;

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

    &:first-child {
      padding-left: 0;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .Separator {
    user-select: none;
  }
}
