.ShareLink {
  border: 1px solid transparent !important;

  &.editing {
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    background: none;
  }

  code {
    background: rgba(255, 255, 255, 0.025);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.5em;
    color: gray;

    padding: 0.5em;
  }

  .Content {
    display: flex;
    flex-grow: 1;
    gap: 1em;
    align-items: center;

    .formgroup {
      display: flex;
      flex-direction: column;

      &.url {
        flex-grow: 1;
      }
    }
  }

  .Actions {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    .Layer {
      display: flex;
      gap: 0.5em;
      justify-content: flex-end;

      grid-column: 1 / 2;
      grid-row: 1 / 2;

      opacity: 0;

      &.Active {
        z-index: 1;
        opacity: 1;
      }
    }
  }

  :global(.form-control) {
    transition: color 100ms;

    &.dateEmpty::-webkit-datetime-edit {
      color: rgba(255, 255, 255, 0.25);
    }
  }

  :global(.card-body) {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1em;
    padding: 0.5em;

    :global(.label-editor) {
      font-size: 0.875em;
    }
  }
}
