@keyframes intro {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

.Container {
  position: absolute;
  overflow: hidden;
  inset: 0 0 0 0;
  pointer-events: none;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  .Alert {
    --opacity: 0;
    --transform-y: 100%;
    --duration: 1000ms;

    pointer-events: painted;
    position: absolute;
    bottom: 0;

    transition: opacity var(--duration), transform var(--duration);

    opacity: var(--opacity);
    transform: translateY(var(--transform-y));

    &:only-child {
      animation: intro;
    }
  }
}
